<!DOCTYPE html>
{% load staticfiles %}
<html>
<head> 
    <meta charset="utf-8">
     
    <title>Disaster Recovery Application</title>
    {% block css %}
    {% endblock %}
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="header" style="background-color:lightblue;color:Black">
        <div class="title">
            <h3 style="font-size:25pt;padding:5px">Disaster Recovery Application<span style="float:right;font-size:13pt">
                {{ user.username }}{% if user.is_superuser %}(Admin){% endif %}</span>
            </h3>
        </div>
    </div>

    <div id="menu" style="background-color:#ffffff;float:left;font-size:13pt">
        <div>
            <nav>
                {% if user.is_superuser %}
                    <a href="{% url 'job_management' %}">Job code management</a><br><br>
                    <a href="{% url 'machine_management' %}">Machine management</a><br><br>
                    <a href="{% url 'timecard_management' %}">Timecard Management</a>
                {% endif %}
                {% if not user.is_superuser %}
                    <a href="{% url 'timecard_submission' %}">Job code management</a><br><br>
                {% endif %}
            </nav>
        </div>

    </div>

    <div id="content" style="background-color:#ffffff;height:auto;width:auto;float:left;">
        {% block content %}{% endblock %}</div>


</div>

</body>

</html>