{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <span style="margin-left:45px;">Job Code Management</span>
    <br><br><br><br><br>
    <div style="float: right;margin-right:22%"><a href="{% url 'job_create' %}"> Add New</a></div>
    <div style="margin-left:45px;">
        <table border="1">
            <tr>
                <th>Job code</th>
                <th>Description</th>
                <th>Hourly Rate</th>
                <th>Max Hours per day</th>
                <th></th>
                <th></th>
            </tr>
            {% for job in job_list %}
                <tr>
                    <td>{{ job.job_code }}</td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.hourly_rate }}</td>
                    <td>{{ job.max_hour_perday }}</td>
                    <td><a href="{% url 'job_update' job.id %}"> Edit</a></td>
                    <td><a href="{% url 'job_delete' job.id %}"> Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
 {% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
 {% endblock %}