{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <span style="margin-left:45px;font-size: 15pt">Timesheet Management</span>
    <br><br><br>
    <div style="margin-left:45px;">
        <table border="1">
            <tr>
                <th>Site code</th>
                <th>Contractor Name</th>
                <th>Total Hours</th>
                <th>Total amount</th>
                <th>Status</th>
            </tr>
            {% for timesheet in time_card_list %}
                <tr>
                    <td>{{ timesheet.site_code }}</td>
                    <td>{{ timesheet.contractor_name }}</td>
                    <td>{{ timesheet.total_hours }}</td>
                    <td>{{ timesheet.total_amount }}</td>
                    <td>{% if user.is_superuser %}<a href="{% url 'status_update' timesheet.id %}"> {{ timesheet.status }}
					</a>
					{% else %} {{ timesheet.status }}
					{% endif %}
					</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <div style="float: right; font-size: 13pt ">
        {% if not user.is_superuser %}<a href="{% url 'timecard' %}"> Enter new timesheet</a>{% endif %}
    </div>
{% endblock %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
{% endblock %}