{% extends "base.html" %}
{% block content %}
<form action="." method="post">
    <span style="margin-left:45px;"><b>Timesheet Submission</b></span>
    <br><br>
   {{ form.as_table }}
    <br><br>
    <span style="margin-left:45px;"><b>Job Entry</b></span>
    <div style="margin-left:45px;" >
        <table  cellpadding="8">

         {% for i in '012'|make_list %}
             <tr>
                <td >
         {% if job_list %}
            <select name="jobcode{{i}}" id="jobcode{{i}}">
                <option value="0" selected>Select Job</option>
            {% for job in job_list %}
                <option value="{{job.pk}}|{{job.hourly_rate}}"> {{job.job_code}}</option>
            {% endfor %}
            </select></td><td >
            Hrs. worked <input type="text" name="hoursworked{{i}}" id="hoursworked{{i}}" onchange="getlabortotal({{i}});"></td><td>
            Total : <text name="labortotal{{i}}" id="labortotal{{i}}"></text>
         {% endif %}
            </td></tr>
         {% endfor %}
        </table>
        <p><input type="button" value="Add More Jobs" onclick="addJob();" /></p>
    </div>
    <br><br>
    <span style="margin-left:45px;"><B>Machine Entry</B></span>
        <div style="margin-left:45px;">
        <table  cellpadding="8">

         {% for i in '012'|make_list %}
            <tr>
                <td>
         {% if machine_list %}
            <select name="machinecode{{i}}" id="machinecode{{i}}">
                <option value="0" selected>Select Machine</option>
            {% for machine in machine_list %}
                <option value="{{machine.id}}|{{machine.hourly_rent}}"> {{ machine.machine_code}}</option>
            {% endfor %}
            </select></td><td>
            Hrs. worked <input type="text" name="hoursused{{i}}" id="hoursused{{i}}" onchange="getmachinetotal({{i}});"></td><td>
            Total : <text name="machinetotal{{i}}" id="machinetotal{{i}}""></text>
         {% endif %}
            </td></tr>
         {% endfor %}

        </table>
        </div>
        <br><br>
    <div><table cellpadding="10"><tr><td></td><td><input type="reset" value="Clear"></td><td><input type="submit" value="submit"></td><td></td></tr></table></div>


    {% csrf_token %}
</form>
<script type="text/javascript">
function getlabortotal(i)
{

    var hrs = document.getElementById("hoursworked"+i).value;
    //alert("hrs"+hrs);
    var rate = document.getElementById("jobcode"+i).value;
    //alert("rate"+rate);
    //alert("aaaA"+rate.split("|")[1])
    document.getElementById("labortotal"+i).innerText= parseInt(hrs)*parseInt(rate.split("|")[1]);

}
function getmachinetotal(i)
{

    var hrs = document.getElementById("hoursused"+i).value;
    //alert("hrs"+hrs);
    var rate = document.getElementById("machinecode"+i).value;
    //alert("rate"+rate);
    //alert("aaaA"+rate.split("|")[1])
    document.getElementById("machinetotal"+i).innerText= parseInt(hrs)*parseInt(rate.split("|")[1]);

}

</script>
{% endblock %}
