<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
     <form action="." method="post" >

        {{ form.as_p }}



         {% for i in '012'|make_list %}
         {% if job_list %}
            <select name="jobcode{{i}}">
                <option value="0" selected>Select Job</option>
            {% for job in job_list %}
                <option value="{{job.pk}}"> {{job.job_code}}</option>
            {% endfor %}
            </select>
            Hrs. worked <input type="text" name="hoursworked{{i}}" onchange="getlabortotal({{i}});">
            Total : <text name="total{{i}}" value="{{ job.hourly_rate }}">{% widthratio job.hourly_rate 5 100 as width %}</text>
         {% endif %}
         <br>
         {% endfor %}

         <br>

         {% for i in '012'|make_list %}
         {% if machine_list %}
            <select name="machinecode{{i}}">
                <option value="0" selected>Select Machine</option>
            {% for machine in machine_list %}
                <option value="{{machine.id}}"> {{ machine.machine_code}}</option>
            {% endfor %}
            </select>
            Hrs. worked <input type="text" name="hoursused{{i}}">
            Total : <text name="machinetotal{{i}}" value="{{ machine.hourly_rate }}">{% widthratio job.hourly_rate 5 100 as width %}</text>
         {% endif %}
         <br>
         {% endfor %}




        <p><table><tr><td><input type="submit" value="Clear"></td><td><input type="submit" value="submit"></td></tr></table>
        {% csrf_token %}

<script type="text/javascript">
function getlabortotal(i)
{
    var ename = "jobcode" + i;
    var e = document.getElementById(ename);
    alert(ename);
    var rate = e.options[e.selectedIndex].value;
    alert("here")
    var a = document.getElementById("hoursworked"+i).value;
    document.getElementById("total").innerText= a*rate;
    alert(i);
    alert(rate);
    alert("here")
}

</script>
    </form>
</body>
</html>