<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disaster Recovery Management System</title>
</head>
<body>
<form method="post" action="{% url 'login' %}">
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                    {{ next }}
                <td><input type="hidden" name="next" value="{{ next }}"/></td>
            </tr>
        </table>

        <input type="submit" value="login" />

        {% csrf_token %}
    </form>
</body>
</html>